.popper-arrow {
	position: absolute;
	font-size: 7px;
	width: 3em;
	height: 3em;

	&::before {
		content: "";
		margin: auto;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
	}

	// placement: bottom
	[data-popper-placement*="bottom"] & {
		top: 0;
		left: 0;
		margin-top: -0.9em;
		width: 3em;
		height: 1em;

		&::before {
			border-width: 0 1em 1em 1em;
			border-color: transparent transparent var(--popper-arrow-color) transparent;
		}
	}

	// placement: top
	[data-popper-placement*="top"] & {
		bottom: 0;
		left: 0;
		margin-bottom: -0.9em;
		width: 3em;
		height: 1em;

		&::before {
			border-width: 1em 1em 0 1em;
			border-color: var(--popper-arrow-color) transparent transparent transparent;
		}
	}

	// placement: right
	[data-popper-placement*="right"] & {
		left: 0;
		margin-left: -0.9em;
		width: 1em;
		height: 3em;

		&::before {
			border-width: 1em 1em 1em 0;
			border-color: transparent var(--popper-arrow-color) transparent transparent;
		}
	}

	// placement: left
	[data-popper-placement*="left"] & {
		right: 0;
		margin-right: -0.9em;
		width: 1em;
		height: 3em;

		&::before {
			border-width: 1em 0 1em 1em;
			border-color: transparent transparent transparent var(--popper-arrow-color);
		}
	}
}
